<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <%= image_tag 'logo_square_red.png' %>

      <p class="py-6 text-left">
        ヒトカラナビは、一人カラオケが大好きな "ヒトカラー" のためのカラオケ店レビュー＆検索サービスです。
        <br>
        ヒトカラー目線での評価をもとに、あなたのこだわりを満たすお店を簡単にみつけられます。
      </p>

      <div>
        <%= link_to t('shops.index.title'), '#', class: 'btn btn-accent mt-6 mb-4 w-[140px]' %>
      </div>
      <div>
        <%= link_to t('users.new.title'), signup_path, class: 'btn btn-primary w-[140px]' %>
      </div>
    </div>
  </div>
</div>