<div class="join flex">
  <%= select :shop, :prefecture, Prefecture.selectable.map{ |p| [p.name, admin_prefecture_areas_path(p)] }, { selected: admin_prefecture_areas_path(prefecture) }, { onchange: "Turbo.visit(value, {frame: 'location-select-boxes'})", class: 'select select-bordered select-sm select-primary join-item' } %>
  <%= select :shop, :area_id, prefecture.areas.pluck(:name, :id), { selected: area.id }, { class: 'select select-bordered select-sm select-primary join-item grow' } %>
</div>