<div class="join flex">
  <%= select :shop, :prefecture, Prefecture.selectable.map{ |p| [p.name, admin_prefecture_areas_path(p)] }, { include_blank: t('defaults.selection_required') }, { onchange: "Turbo.visit(value, {frame: 'location-select-boxes'})", class: 'select select-bordered select-sm select-primary join-item' } %>
  <%= select :shop, :area_id, [['---', nil]], {}, class: 'select select-bordered select-primary select-sm join-item grow' %>
</div>