<% if shop.reviews.present? %>
  <div class="reviews flex flex-col gap-y-4">
    <%= render partial:'reviews/review_summary', collection: reviews, as: :review %>
  </div>
  <div class="text-center mt-6">
    <%= link_to t('.show_all_reviews'), shop_reviews_path(shop), class: 'btn btn-primary' %>
  </div>
<% else %>
  <div class="no_reviews text-center">
    <p>まだレビューはありません。</p>
  </div>
<% end %>