<div class="rounded bg-white mx-auto w-full my-6">
  <div class="card-body">
    <div class="form">
      <%= form_with model: search_shops_form, scope: :q, url: shops_url, method: :get do |f| %>
        <div class="fields">
          <div class="field">
            <%= f.search_field :words, placeholder: t('defaults.search_words'), class: 'input input-bordered w-full max-w-xs' %>
          </div>
        </div>
        <div class="buttons text-center mt-4">
          <%= f.submit class: 'btn btn-accent btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>