<div class="card-actions justify-center mt-6">
  <%= link_to t('defaults.to_official_site'), shop.url, class: 'btn btn-primary', target: '_blank' %>
  <%= render 'shared/review_button', shop: shop %>
</div>