<div class="sort [&_a]:text-xs [&_a]:inline-block flex justify-end gap-x-2">
  <%= link_to '接客レス度の評価が高い順▼', shops_path(sort: { key: 'int' }, q: search_shops_params) %>
  <%= link_to '機器設定の自由度の評価が高い順▼', shops_path(sort: { key: 'eqcust' }, q: search_shops_params) %>
  <%= link_to '一人利用のしやすさの評価が高い順▼', shops_path(sort: { key: 'sofr' }, q: search_shops_params) %>
</div>