<%= render 'search_form_for_shops', search_shops_form: @search_shop_form %>

<%= turbo_frame_tag 'shops-list' do %>
  <% if @shops.present? %>
    <%= render partial: 'shop_for_index', collection: @shops, as: :shop %>
  <% else %>
    <p class="text-center"><%= t '.no_shops' %></p>
  <% end %>
<% end %>