<% content_for :title, t('.title', shop: @shop.name) %>

<%= render @shop %>

<div class="divider mt-8 text-sm"><%= t('.latest_reviews') %></div>

<%= render 'latest_reviews', shop: @shop, reviews: @reviews %>