<%= render @shop %>

<%= render 'latest_reviews', shop: @shop, reviews: @reviews %>

<div class="mx-auto flex justify-center">
  <%= link_to t('defaults.back'), 'javascript:history.back()', class: 'btn' %>
</div>
