<div class="mx-auto md:w-2/3 w-full max-w-xs">
  <h1 class="font-bold text-4xl">
    <%= t('.title') %>
  </h1>

  <%= render "form", user: @user %>

  <div class="text-center mt-2">
    <%= link_to t('.to_login_page'), login_path, class: 'btn btn-link btn-xs text-secondary' %>
  </div>
</div>