<% content_for :title, t('.title', shop: @shop.name) %>

<div class="mx-auto max-w-md w-full">
  <h1 class="font-bold text-2xl text-neutral text-center">
    <%= @shop.name %>
  </h1>

  <div class="body mt-4 flex flex-col gap-y-4">
    <div class="description text-sm text-center">
      <p>タップ/クリックでオンオフを切り替えられます</p>
    </div>
    <div class="card shrink-0 w-full mx-auto shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="tags text-center">
          <% Tag.all.each do |tag| %>
            <% if @shop.tagged?(tag) %>
              <%= render 'untag', shop: @shop, tag: tag %>
            <% else %>
              <%= render 'tag', shop: @shop, tag: tag %>
            <% end %>
          <% end %>
        </div>

        <div class="mt-6 w-full text-center">
          <%= link_to t('.done_and_to_show_shops'), shop_path(@shop), class: 'btn btn-primary btn-wide' %>
        </div>
      </div>
    </div>
  </div>
</div>