<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to 'ヒトカラナビ', root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="flex justify-end flex-1 px-2">
    <div class="flex items-stretch gap-4">
      <% if current_page?(signup_path) == false %>
        <%= link_to '会員登録', signup_path, class: 'btn btn-accent' %>
      <% end %>
      <% if current_page?(login_path) == false %>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
      <% end %>
      <% if current_page?('#') == false %>
        <%= link_to 'カラオケを探す', '#', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>