  <% if object.errors.any? %>
    <div id="error_explanation" class="bg-error text-red-500 p-2 rounded-lg mt-3 text-sm">
      <ul>
        <% object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
