<footer class="footer footer-center p-10 bg-primary">
  <div class="grid grid-flow-col gap-4">
    <%= mail_to ENV['GMAIL_USERNAME'], t('defaults.contact'), class: 'link link-hover text-primary-content' %>
  </div>
  <p>Copyright © 2024 - All right reserved by ヒトカラナビ</p>
</footer>