<footer class="footer footer-center p-4 bg-neutral text-neutral-content">
  <aside ontouchstart="">
    <div class="flex gap-x-3">
      <p>
        <%= link_to t('defaults.contact'), new_contact_path, class: 'link link-hover' %>
      </p>
      <p>
        <%= link_to t('defaults.terms'), 'https://kiyac.app/termsOfService/n20c9JaJRKCcCUhvRL7H', class: 'link link-hover', target: '_blank', rel: 'norefferrer noopener' %>
      </p>
      <p>
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: 'link link-hover' %>
      </p>
    </div>
    <div class="text-xs">Copyright © ヒトカラナビ</div>
  </aside>
</footer>