<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', '#', class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', '#', class: 'link link-hover' %>
    <%= link_to 'お問い合わせ', '#', class: 'link link-hover' %>
  </div>
  <p>Copyright © 2024 - All right reserved by ヒトカラナビ</p>
</footer>