<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div class="grid grid-flow-col gap-4">
    <%= link_to t('defaults.terms'), '#', class: 'link link-hover' %>
    <%= link_to t('defaults.privacy_policy'), '#', class: 'link link-hover' %>
    <%= mail_to ENV['GMAIL_USERNAME'], t('defaults.contact'), class: 'link link-hover' %>
  </div>
  <p>Copyright © 2024 - All right reserved by ヒトカラナビ</p>
</footer>