<div class="tooltip tooltip-info before:max-w-56 before:content-[attr(data-tip)] inline-block content-center ml-2" data-tip="<%= description %>">
  <i class="fa-solid fa-circle-question fa-sm" style="color: #b1d9e9;"></i>
</div>