<div class="card w-96 bg-base-100 shadow-xl mx-auto">
  <div class="card-body">
    <div class="card-actions justify-center">
      <%= link_to t('admin.users.index.title'), admin_users_path, class: 'btn btn-wide' %>
      <%= link_to t('admin.shops.index.title'), admin_shops_path, class: 'btn btn-wide' %>
      <%= link_to t('admin.tags.index.title'), admin_tags_path, class: 'btn btn-wide' %>
      <%= link_to t('admin.areas.index.title'), admin_areas_path, class: 'btn btn-wide' %>
    </div>
  </div>
</div>