<div class="grid grid-cols-[4fr_2fr]">
  <div class="text-center pr-1 bg-primary/30 rounded-full">
    <%= Review.human_attribute_name(field) %>
  </div>
  <div class="pl-1">
    <% if review.send("#{field_short}_unspecified?") %>
      評価なし
    <% else %>
      <span class="rating rating-sm">
        <% Review.send("#{field_short}_rates").each do |rate| %>
          <%= radio_button_tag "review_#{review.id}[#{field}]", rate, rate == review.send("#{field}"), { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>