<div class="form-control">
  <div class="flex justify-center w-3/4 mx-auto bg-primary/30 rounded-full">
    <%= form.label field %>
    <%= render 'shared/tooltip_icon', description: t("defaults.description.#{field}") %>
  </div>
  <div class="rating flex w-3/4 mx-auto pt-1 justify-center">
    <%= form.radio_button field, "#{field}_unspecified", class: 'rating-hidden' %>
    <% Review.send("#{field_short}_rates").each do |rate| %>
        <%= form.radio_button field, rate, class: "mask mask-star-2 bg-orange-400" %>
    <% end %>
  </div>
</div>