<div class="form-control">
  <div class="label flex justify-start">
    <%= form.label field %>
    <div class="tooltip tooltip-info inline-block ml-2" data-tip="<%= description %>">
      <i class="fa-solid fa-circle-question fa-sm" style="color: #b1d9e9;"></i>
    </div>
  </div>
  <div class="rating pb-2 px-1">
    <%= form.radio_button field, "#{field}_unspecified", class: 'rating-hidden' %>
    <% Review.send("#{field_short}_rates").each do |rate| %>
        <%= form.radio_button field, rate, class: "mask mask-star-2 bg-orange-400" %>
    <% end %>
  </div>
</div>