<div class="space-y-1">
  <div class="label flex justify-start p-0">
    <div class="inline-block">
      <%= Review.human_attribute_name(field) %>
    </div>
    <div class="tooltip tooltip-info inline-block ml-2" data-tip="<%= description %>">
      <i class="fa-solid fa-circle-question fa-sm" style="color: #b1d9e9;"></i>
    </div>
  </div>
  <% if review.send("#{field_short}_unspecified?") %>
    評価なし
  <% else %>
    <div class="rating">
      <% Review.send("#{field_short}_rates").each do |rate| %>
        <%= radio_button_tag "review_#{review.id}[#{field}]", rate, rate == review.send("#{field}"), { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
      <% end %>
    </div>
  <% end %>
</div>