<% content_for :title, t('.title') %>

<div class="mx-auto w-full">
  <h1 class="font-bold text-2xl text-neutral text-center">
    <%= @review.shop.name %>
  </h1>

  <div class="info my-4 text-center text-xs italic text-primary">
    <p>評価対象外にする場合は★0にしてください</p>
  </div>

  <%= render "form", { review: @review } %>
</div>