<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
    <%= t('.title') %>
  </h1>

  <div class="info mt-4">
    <p class="text-xs italic">評価対象外にする場合は★0にしてください</p>
  </div>

  <%= render "form", { review: @review } %>
</div>