<div>
  <h1 class="font-bold text-4xl">
    <%= t('.title', shop: @shop.name) %>
  </h1>
</div>
<div class="flex justify-end my-4">
  <%= render 'shared/review_button', shop: @shop %>
</div>

<% if @reviews.present? %>
  <%= render @reviews, shop: @shop %>
<% else %>
  <p><%= t '.no_reviews' %></p>
<% end %>
