<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
    <%= t('.title', shop: @shop.name) %>
  </h1>

  <%= render "form", { shop: @shop, review: @review } %>

  <%= link_to t('defaults.back'), 'javascript:history.back()', class: 'btn btn-neutral' %>
</div>