<div class="inline-block">
  <%= link_to t('defaults.edit'), edit_path, class: 'btn btn-sm' %>
  <%= link_to t('defaults.delete'), delete_path, data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-sm' %>
</div>